.paragraph{
    display: inline-block;
    flex-direction: column;
    width: 500px;
    text-align: center;
    background-color: lightgray;
    margin: 50px
}

#photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}