.container {
  display: flex;
}
.calendar {
  width: 350px;
  float: left;
}
.time {
  display: flex;
  flex-direction: column;
  float: right;
  margin: 50px;
}

.button {
  margin: 5px;
  display: flex;
  flex-direction: column-reverse;
}
